<hr>
<h1>{{site}}</h1>
<hr>
<a href="/">home</a>
&bull;
<a href="/search">search</a>
&bull;
<a href="/add">add</a>
&bull;
<a href="/update">update</a>
&bull;
<a href="/delete">delete</a>
<hr>

<script>
    function isInt(str) {
        return !isNaN(str) && Number.isInteger(parseFloat(str));
    }
</script>